* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  display: block;
}
  body {
    background-color: white;
    display: block;
  }
  header {
    padding: 20px;
    display:block;
    box-sizing: border-box;
    background-image: url("/assets/image/th.jpg");
    background: size 150px;
    color: white;
  }
  
  div {
    display: block;
  }
  header div ul {
    list-style-type: none;
  }
  ul {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
a:-webkit-any-link {
  cursor: pointer;
}

  .image {
    image-orientation: 0;
    max-width: 150px;
    padding: 10px;
    border-radius: 25px;
  }

  nav {
    display:flexbox;
    background-color: #d8a47f;
    padding: 20px;
  }
  
  
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  .work {
    display:inline;
    flex-wrap:wrap;
    justify-content:center;
  }

  .half-width{
    width: 49%;
    display: inline-block;
  }

  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }


  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  
 
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  